##############################
## Java
##############################
.titanic
*.class
*.war
*.ear
hs_err_pid*
logs/
*.log
*.py[cod]
webapp/angular/
main/webapp/angular/

##############################
## C
##############################
cmake-build-debug/

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.Next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
.build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## JetBrains
##############################
out/
.idea/
.idea_modules/
src/angular/node_modules/
src/main/webapp/angular
*.iml
*.ipr
*.iws
node_modules/

##############################
## Eclipse
##############################
.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/out-tsc

##############################
## Visual Studio Code
##############################
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*.launch
.c9/


##############################
## OS X
##############################
.DS_Store

##############################
## Generated by Windows
##############################
Thumbs.db

##############################
## profiling files
##############################
chrome-profiler-events*.json

##############################
## Only exists if Bazel was run
##############################
/bazel-out

##############################
## Auto generated from github
##############################
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/plugins/intellij-plugin/.github/*
/plugins/intellij-plugin/.idea/*
/plugins/intellij-plugin/gradle/*
/plugins/intellij-plugin/build/

/annotations/TutorialBasicoLLVm/
/umbrella
*finalAST.json
/output/
